<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title || 'ShiftUp' }}
    </title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>

  <body class="bg-white text-gray-800 font-['Poppins',_sans-serif] min-h-screen flex flex-col">
    @if(!(request.url().startsWith('/auth') || request.url().startsWith('/admin/auth')))
      @!include('partials/navbar')
    @endif
    
    <main class="flex-grow">
      {{{ await $slots.content() }}}
    </main>

    @!include('partials/footer')
  </body>
</html>
